*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Baloo Bhaijaan', sans-serif;
    font-size:16px;
    background-color:#f4d9f3;
}
#intro{
    width:50%;
    left: 0px;
    right: 0px;
    margin:  auto;
    margin-top: 5%;
}
#intro p{
    font-size:4em;
    text-align:center;
    color:#4f8faf;
}
#foodOne{
    width:50%;
    left: 0px;
    right: 0px;
    margin: auto;
    position:relative;
}
#foodOne:hover{
    cursor:pointer;
}
#foodOne:active{
    opacity:0.5;
    width:45%;
}
#foodOne img{
    left: 0px;
    right: 0px;
    margin:auto;
    position:absolute;
    width:30%;
    display:block;
}
#footer{
    width:100%;
    position:fixed;
    bottom:0px;
    color:#cc78a4;
}
#footer p{
    text-align:center;
}
.hidden{
    display:none;
}
/* Food  Two */
#foodTwo{
    width:50%;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top:15%;
    position:relative;
}
#foodTwo:hover{
    cursor:pointer;
}
#foodTwo:active{
    opacity:0.5;
    width:45%;
}
#foodTwo img{
    left: 0px;
    right: 0px;
    margin:auto;
    position:absolute;
    width:30%;
    display:block;
}
/*Food Three*/
#foodThree{
    width:50%;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top:15%;
    position:relative;
}
#foodThree:hover{
    cursor:pointer;
}
#foodThree:active{
    opacity:0.5;
    width:45%;
}
#foodThree img{
    left: 0px;
    right: 0px;
    margin:auto;
    position:absolute;
    width:30%;
    display:block;
}
/* food 4 */
#foodFour{
    width:50%;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top:15%;
    position:relative;
}
#foodFour:hover{
    cursor:pointer;
}
#foodFour:active{
    opacity:0.5;
    width:45%;
}
#foodFour img{
    left: 0px;
    right: 0px;
    margin:auto;
    position:absolute;
    width:30%;
    display:block;
}
#website{
    position:relative;
    width:50%;
    left: 0px;
    right: 0px;
    margin:  auto;
    margin-top: 20%;
    text-align:center;
}
#website a{
    text-decoration: none;
    font-size:4em;
    color:#4f8faf;
}
#website a:hover{
    color:white;
}
@media only screen and (max-width:480px),(orientation:portrait){
    #intro{
        width:100%;
    }
    #intro p{
        font-size:2em;
    }
    #foodOne{
        width:100%;
    }
    #foodOne img{
        width:100%;
    }
    #foodTwo{
        width:100%;
    }
    #foodTwo img{
        width:100%;
    }
    #foodThree{
        width:100%;
    }
    #foodThree img{
        width:100%;
    }
    #foodFour{
        width:100%;
    }
    #foodFour img{
        width:100%;
    }
    #website{
        width:100%;
        text-align:center;
        margin-top:25%;
    }
    #website a{
        font-size:2em;
    }

}
