*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color:white;
}
.container-fluid{
    display:none;
}
#head{
    text-align:center;
}
#head h1{
    font-family: 'Muli', sans-serif;
    font-size:4em;
    margin-top:5%;
    color:white;
}
form{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
}
form input{
    padding:1%;
}
textarea{
    height:30vh;
}
#head p{
    color:white;
}
.title{
    font-size:2em;
    color:#4e7a44;
}
.undertitle{
    font-size:1.4em;
    color:#309ed1;
}
.navbar-brand img{
    width:5%;
    position: absolute;
    right:2%;
}
.fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
iframe{
    width:100%;
}
.fullscreen img{
    position: fixed;
    width:100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.bg-light-layer{
position: absolute;
background-color:#416299;
width:100%;
height: 100%;
left: 0px;
opacity:0.5;
}
.fifty{
    color:white;width:50%;margin-left:auto;margin-right:auto;
}
.seventy{
    text-align:right;
}
.sixty{
    text-align:left;
}
.rates{
    background-color:black;
    width:100%; 
    height:100%;
}
@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  @media only screen and (max-width: 700px){
    #head{
        margin-top:10%;
    }
    form{
        width:100%;
    }
    .fullscreen-bg {
      background: url('../img/backgroundimg.png') center center / cover no-repeat;
    }
    .sixty{
        text-align:center;
        font-size:0.7em;
        margin-top:15%;
        margin-bottom:5%;
    }
    .seventy{
        text-align:center;
    }
    iframe{
        width:100%;
    }
    .slider{
        height:auto;
        width:auto;
    }
    .navbar-brand img{
        width:10%;
    }
    .fullscreen{
        display:none;
    }
    .fullscreen-bg__video{
        display:none;
    }
    .fifty{
        width:100%;
    }
    }  
.btn{
    left: 0px;
    right: 0px;
    margin:auto;
    margin-top:2%;
}
.footer1{
    color:white;
    position: fixed;
    width:100%;
    bottom:0px;
    padding:0px 1%;
    text-align:right;
    font-size:0.7em;
}
.footer1 a{
    color:white;
}
.footer{
    position: relative;
    width:100%;
    margin-top:2%;
    bottom:0px;
    padding:0px 1%;
    text-align:right;
    font-size:0.7em;
}
.posting{
    margin-top:5%;
    text-align:left;
    margin-bottom:2%;
}
.posting h1{
    text-align:center;
}
.posting img{
    width:100%;
}
.slider{
    width:100%;
    height:55vh;
    position:relative;
    overflow:hidden;
}
.slide{
    opacity:0;
}
.slider img{
    position: absolute;
    display:block;
    width:100%;
    height:100%;
    opacity:0;
}
#slidebutton{
    position: absolute;
    left:90%;
    color:white;
    font-size:1em;
}
#slidebutton2{
    position: absolute;
    left:90%;
    color:white;
    font-size:1em;
}
.slide2{
    opacity:0;
}
#gr-bottom h1{
    text-align:center;
}
.middle-buttons{
    width:auto;
    left:0px;
    right: 0px;
    margin:auto;
}
.middle-buttons a{
    width:30%;
    left: 0px;
    right: 0px;
    margin:auto;
    margin-top:2%;
}
.middle-block{
    width:40;
    left:0px;
    right: 0px;
    margin:auto;
}
.middle-block a{
    width:auto;
    left: 0px;
    right: 0px;
    margin:auto;
    margin-top:2%;
}
.fa {
    position:relative;
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    color:white;
}
.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}