html,*{
    margin:0px;
    padding:0px;
}
body{
    font-size:16px;
    font-family:'Slabo 27px', serif;
}
#headbar{
    width:100%;
    background-color:grey;
    margin:auto;
    top:0px;
    position:fixed;
    opacity:0.7;
}

#logo{
    width:30%;
    padding:1%;
    margin-left:4%;
    position:relative;
}
#logo img{
    width:10%;
}
#logo p{
    font-size:1.2em;
    word-spacing: 10px;
    letter-spacing: 3px;
    color:white;
}
#nav{
    position:absolute;
    right:5%;
    top:1%;
    width:20%;
    right:1%;
    margin-top:2%;
}
#nav ul{
    width:100%;
    list-style-type:none;
    position:relative;
}
#nav ul li{
    font-size:1.1em;
    display:inline;
    padding:2%;
}
#nav ul li a{
    text-decoration:none;
    color:white;
    letter-spacing: 3px;
}
#nav ul li a:hover{
    color:red;
    cursor:pointer;
}
.container{
    width:100%;
    left: 0px;
    right: 0px;
    margin:auto;
}
#slider{
    width:100%;
    height: 100vh;
    overflow:hidden;
}
#slider img{
    width:100%;
    display:block;
}
#descript{
    display:none;
    width:70%;
    left: 0px;
    right:0px;
    margin:0 auto;
    margin-top:15%;
    position:absolute;
}
#descript h1{
    text-align:center;
    color:white;
    font-size:4em;
    letter-spacing: 3px;
    word-spacing: 10px;
}
#descript p{
    opacity:0.7;
    text-align:center;
    color:red;
    font-size:2em;
    letter-spacing: 2.5px;
    word-spacing:5px;
}
.tales{
    width:60%;
    left:0px;
    right:0px;
    margin:auto;
    margin-top: 5%;
    margin-bottom:5%;
}
.section{
    width:100%;
    margin-top:3%;
    margin-bottom:5%;
}
.section p{
    font-size:3em;
    color:red;
    text-align:center;
}
.tales h1{
    font-size:2em;
    text-align:center;
}
.tales p{
    margin-top:1%;
    font-size:1.2em;
    line-height:30px;
}
#footer{
    width:100%;
    background-color:grey;
    position:absolute;
    margin-bottom:0px;
}
#footer p{
    padding:0px 5px;
    text-align:right;
    font-size:1em;
    color:white;
}
#submitinfo{
    width: 60%;
    left:0px;
    right:0px;
    margin:auto;
    margin-top:0px;
}
#submitinfo p{
    font-size:1.5em;
    line-height:35px;
    color:grey;
    opacity:0.8;
    font-weight:bold;
}
#submitinfo form{
    width:50%;
    left:0px;
    right:0px;
    margin:auto;
    margin-top:3%;
    margin-bottom:15%;
}
#email{
    font-size:1em;
    width:50%;
    padding:2px;
    border:2px solid grey;
    margin-bottom:2%;
}
#feedback{
    font-size:1em;
    padding:2px;
    border:2px solid grey;
    width:100%;
    height: 20vh;
}
.inputtext b{
    font-size:1.5em;
    color:red;
}
.sectiontwo{
    width:100%;
    margin-top:3%;
    margin-bottom:1%;
}
.sectiontwo p{
    font-size:3em;
    color:red;
    text-align:center;
}
#submit{
    width:20%;
    margin-top:2%;
    background-color:#c16a68;
    color:white;
    font-size:1em;
    border: 1px solid transparent;
    border-radius:30px;
}
#submit:hover{
    background-color:red;
    cursor:pointer;
}
.nextbutton{
    width:3%;
    left:0px;
    right:0px;
    margin:auto;
    top:95%;
    position:absolute;
    opacity:0.6;
}
.nextbutton:hover{
    opacity:1;
}
.nextbutton img{
    width:100%;
}
.hidden{
    display:none;
}
@media only screen and (max-width:481px),(orientation:portrait){
    .hidden{
        overflow:hidden;
    }
    #headbar{
        position:fixed;
        opacity:1;
        width:100%;
    }
    #logo{
        width:100%;
        position:relative;
    }
    #nav{
        position:relative;
        width:100%;
        text-align:center;
    }
    #container{
        width:100%;
        margin-top:0px;
        position:relative;
    }
    #descript{
        width:100%;
        height:100vh;
        margin-top:0px;
        position:relative;
        background: url('lonelygirl.jpg');
        background-position:center bottom;
        background-size:cover;
    }
    #descript h1{
        padding:40% 0px;
        font-size:2em;
        color:white;
    }
    #descript p{
        font-size:1.5em;
    }
    #slider{
        display:none;
        width:100%;
        height:20vh;
        position:relative;
        margin-top:0px;
    }
    .nextbutton{
        width:5%;
    }
    .section{
        margin-top:5%;
        margin-bottom:3%;
    }
    .section p{
        font-size:3em;
    }
    .tales{
        width:100%;
    }
    .tales h1{
        font-size:2em;
    }
    .tales p{
        padding:3%;
        font-size:1.3em;
    }
    #submitinfo{
        width:100%;
    }
    #submitinfo p{
        font-size: 1.2em;
        padding:3%;
    }
    #submitinfo form{
        width:100%;
        padding:3%;
    }
    #email{
        width:80%;
    }
    #feedback{
        width:80%;
    }
}