*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color:white;
}
.container-fluid{
    display:none;
}
#head{
    text-align:center;
}
#head h1{
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size:4em;
    margin-top:5%;
}
.navbar-brand img{
    width:5%;
    position: absolute;
    right:2%;
}
.fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.bg-light-layer{
position: absolute;
background-color:white;
width:100%;
height: 100%;
left: 0px;
opacity:0.8;
}
@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  @media only screen and (max-width: 700px){
    #head{
        margin-top:10%;
    }
    .fullscreen-bg {
      background: url('../img/backgroundimg.png') center center / cover no-repeat;
    }
    .slider{
        height:8vh;
        width:100%;
    }
    }  
.btn{
    left: 0px;
    right: 0px;
    margin:auto;
    margin-top:2%;
}
.footer1{
    position: absolute;
    width:100%;
    bottom:0px;
    padding:0px 1%;
    text-align:right;
}
.footer{
    position: relative;
    width:100%;
    margin-top:2%;
    bottom:0px;
    padding:0px 1%;
    text-align:right;
}
.posting{
    margin-top:5%;
    text-align:left;
    margin-bottom:2%;
}
.posting h1{
    text-align:center;
}
.posting img{
    width:100%;
}
.slider{
    width:100%;
    height:55vh;
    position:relative;
    overflow:hidden;
}
.slide{
    opacity:0;
}
.slider img{
    position: absolute;
    display:block;
    width:100%;
    height:100%;
    opacity:0;
}
#slidebutton{
    position: absolute;
    left:90%;
    color:white;
    font-size:1em;
}
#slidebutton2{
    position: absolute;
    left:90%;
    color:white;
    font-size:1em;
}
.slide2{
    opacity:0;
}
#gr-bottom h1{
    text-align:center;
}
.middle-buttons{
    width:auto;
    left:0px;
    right: 0px;
    margin:auto;
}
.middle-buttons a{
    width:100%;
}