*{
	margin:0;
	padding:0;
}
html{
	height:100%;
}
body{
	background: -webkit-linear-gradient(#a9c1e8,#343e4f);
	background-repeat:no-repeat;
	background-attachment: fixed;
	font-family:'Lato',sans-serif;
	height:100%;
	font-size:16px;

}
.container{
	background-color:white;
}
.navbar{
	background:-webkit-linear-gradient(#edadde,#af3893);
}
.navbar li{
	list-style-type: none;
	display:inline;
}
.navbar li a{
	text-decoration:none;
	padding:1%;
	color:white;
	width:100%;
}
.navbar li a:hover{
	font-style:italic;
	background:-webkit-linear-gradient(#5b5a5b,#111111);
}
.col-sm-8 img{
	width:100%;
	align-content:center;
	border: solid 0.00001px;
	border-radius: 180px;
}
.container h1{
	text-align:center;
}
.container h2{
	text-align:center;
}
.container p{
	text-align:left
}
.col-sm-12 img{
	width:100%;
	align-content:center;
	border: solid 0.00001px;
	border-radius: 180px;
}
iframe {
	width:100%;
	height:450px;
}
