*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Nothing You Could Do', cursive;
    font-size:16px;
}
#head{
    width: 50%;
    left: 0px;
    right: 0px;
    margin:auto;
    margin-top:10%;
}
#head p{
    font-size:3em;
    text-align:center;
}
.input{
    width:100%;
    position:relative;
    left: 0px;
    right: 0px;
    margin:auto;
    margin-top:3%;
}
.input input{
    display:block;
    margin:auto;
    padding: 0px 2%;
    border:solid 3px pink;
    border-radius:20px;
    width:50vw;
    height: 10vh;
    font-size:2em;
    font-family:'Nothing You Could Do', cursive;
    color:palevioletred;
}
.input input:focus{
    outline:none;
}
#text{
    width:50%;
    left: 0px;
    right: 0px;
    margin:auto;
    text-align:center;
    font-size:1.5em;
}
#footer{
    width:100%;
    bottom:0px;
    position:fixed;
}
#footer p{
    font-size:1em;
    color:palevioletred;
    text-align:right;
    padding: 0px 2%;
}