*{
	margin:0px;
	padding:0px;
}
body{
	font-family: 'Lobster', cursive;
	font-size:16px;
	background-color:#2b1c00;
}
.logo{
	width:100%;
	position:relative;
	top:0;
	left:0px;
	right:0px;
	margin:auto;
	background-color:#257919;
}
.logo p{
	text-align:center;
}
.logo p a{
	font-size:5em;
	text-align:center;
	color:white;
	text-decoration:none;
}
.logo p a:hover{
	color:#2b1c00;
}
.nav{
	width:100%;
	background-color:#257919;
	position:absolute;
	margin-top:0%;
}
.nav ul{
	width:100%;
	background-color:#257919;
	margin:0 auto;
	list-style-type: none;
	text-align:center;
}
.nav ul li{
	padding:0% 2%;
	float:right;
	background-color:#257919;;
}
.nav li p{
	font-size:2em;
}
.nav li p:hover{
	color:white;
}

/* About Us*/
.container{
	width:70%;
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5%;
}
.container h1{
	margin:4% 3%;
	text-align:center;
	color:white;
	font-size:2.7em;
}
.container img{
	width:100%;
	margin:0 auto;
	display:block;
	margin-bottom:2%;
}
.container p{
	color:white;
	text-align:left;
	font-size:1.5em;
	font-family:"Lobster";
	line-height:3em;
}
footer{
	width:100%;
	background-color:#257919;
	margin-top:0%;
	bottom:0%;
	position:fixed;
}
footer p{
	font-size:1em;
	text-align:center;
}
/*Homepage*/
.coffee{
	margin-top:5%;
}
.homepage img{
	width:100%;
}
.coffeetext {
	width:30%;
	position:absolute;
	margin:0 auto;
	top:55%;
	left:2%;
}
.coffeetext p{
	color:white;
	font-size:3em;
}
.coffeeonetext{
	width:30%;
	position:absolute;
	margin:0 auto;
	top:180%;
	right:0%;
}
.coffeeonetext p{
	color:white;
	font-size:3em;
}
.coffeetwotext{
	width:30%;
	position:absolute;
	left:5%;
	top:320%;
}
.coffeetwotext p{
	color:white;
	font-size:3em;
}
iframe{
	margin-top:5%;
	margin-left:5%;
}
.locationtext{
	width:40%;
	position:absolute;
	right:5%;
	top:25%;
}
.locationtext p{
	font-size:1.5em;
	color:white;
}